:root {
    /* НЕ прозрачный для меню и попапов */
    --bg-color: #0B0B1C;
    /* border-radius для табов, основных кнопок, input */
    --border-radius: 16px;
}

body{
    background: linear-gradient(180deg, #1F023D 0%, #0B0B1C 20.19%);
}

.btn_primary{
    background: #C20054;
    color: #fff;
    box-shadow: 0 8px 50px #C20054;
    -webkit-box-shadow: 0 8px 50px #C20054;
}

.btn_primary:hover{
    background: #FF2885;
}

.btn_primary svg use{
    fill: #fff;
}

.btn_secondary{
    color: #fff;
    background: transparent;
    border: 2px solid #C20054;
}

.btn_secondary:hover{
    background: rgba(194, 0, 84, 0.2);
}

.logo__mob .logo__lang{
    margin: -4px;
}

.bookmaker svg use{
    fill: #C20054;
}

@media (max-width:400px) {
    .logo__mob{
        flex-direction: column-reverse;
    }
}