
.header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    &.active{
        background-color: color-mix(in srgb, var(--bg-color) 80%, transparent);
        &:after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.05);
            backdrop-filter: blur(64px);
        }
    }
    
    &__body {
        position: relative;
        z-index: 80;
        padding: 16px;
        display: flex;
        gap: 16px;
        align-items: center;
        @media (max-width:#{$md3}px) {
            flex-direction: row-reverse;
        }
    }
    &__logo {
        display: flex;
        justify-content: flex-end;
        @media (max-width:#{$md3}px) {
            flex: 1 1 0;
        }
    }
    &__menu {
        flex-grow: 1;
        ul{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            column-gap: 0px;
            row-gap: 8px;
            font-weight: bold;
            a{
                @media (max-width:#{$mdMenu}px) {
                    display: inline-block;
                    padding: 16px;
                    width: 100%;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
                    &:hover{
                        background-color: rgba(255, 255, 255, 0.05);
                    }
                }
                @media (min-width:#{$mdMenu}px) {
                    border: 2px solid transparent;
                    border-radius: var(--border-radius);
                    display: inline-block;
                    padding: 16px;
                    &:hover{
                        transition: ease 0.15s;
                        border-color: white;
                    }
                }
            }
            @media (max-width:#{$mdMenu}px) {
                flex-direction: column;
                gap: 0;
                overflow-y: auto;
            }
        }
        @media (min-width:#{$md3}px) and (max-width:#{$mdMenu}px)  {
            position: fixed;
            z-index: 6;
            background-color: var(--bg-color);
            width: 300px;
            height: 100%;
            top: 0;
            left: 0;
            transform: translateX(-110%);
            transition: ease-in 0.15s;
            &.active{
                transition: ease-out 0.15s;
                transform: translateX(0);
            }
        }
        @media (max-width:#{$md3}px) {
            position: fixed;
            z-index: 6;
            bottom: 0;
            left: 0;
            width: 100%;
            max-height: 75vh;
            background-color: var(--bg-color);
            border-radius: 16px 16px 0 0;
            padding: 16px 0;
            transform: translateY(110%);
            transition: ease-in 0.15s;
            &.active{
                transition: ease-out 0.15s;
                transform: translateY(0);
            }
            &:before{
                content: "";
                position: absolute;
                top: -11px;
                left: 50%;
                transform: translateX(-50%);
                width: 61px;
                height: 3px;
                border-radius: 99px;
                background-color: rgba(255, 255, 255, 0.3);
            }
        }
    }
    &__bgOverlay{
        z-index: 5;
    }
    &__buttons {
        display: flex;
        gap: 16px;
        @media (min-width:#{$md3}px) and (max-width:#{$mdMenu}px){
            flex: 1;
            display: flex;
            justify-content: flex-end;
        }
    }
    &__burger{
        display: none;
        @media (max-width:#{$mdMenu}px) {
            order: -1;
            display: block;
        }
        @media (max-width:#{$md3}px) {
            order: unset;
            flex: 1 1 0;
        }
    }
    &__menuButtons{
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 16px;
        @media (min-width:#{$mdMenu}px) {
            display: none;
        }
    }
}

.logo{
    display: flex;
    align-items: flex-start;
    img{
        height: 24px;
        width: auto;
        object-fit: contain;
        max-width: 100%;
    }
}

///////////////////////////////////////////////////////////////////////////////////////////

.firstScreen {
    padding: 16px 16px 0 16px;
    margin: 0 -16px;
    @media (min-width:#{$md3}px) {
        overflow: hidden;
    }
    &__body{
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 24px;
        align-items: center;
        min-height: 320px;
        @media (max-width:#{$md3}px) {
            grid-template-columns: 1fr;
        }
    }
    &__title {
        grid-column: 1 / 2;
        grid-row: 1;
        z-index: 2;
        font-size: 40px;
        line-height: 120%;
        font-weight: 700;
        padding-top: 51px;
        padding-left: 64px;
        @media (max-width:#{$md3}px) {
            padding: 16px 16px 0 16px;
            font-size: 28px;
            line-height: 120%;
        }
    }
    &__text {
        grid-column: 1 / 2;
        grid-row: 2;
        z-index: 2;
        padding-left: 64px;
        @media (max-width:#{$md3}px) {
            padding: 0 16px;
        }
    }
    &__btn {
        grid-row: 3;
        grid-column: 1 / 2;
        z-index: 2;
        padding-bottom: 51px;
        padding-left: 64px;
        @media (max-width:#{$md3}px) {
            padding: 16px 0 24px 0;
            grid-row: 4;
            .btn{
                width: 100%;
            }
        }
    }
    &__image {
        grid-row: 1 / 4;
        grid-column: 2 / 3;
        z-index: 2;
        position: relative;
        height: 100%;
        img{
            position: absolute;
            bottom: 0;
            left: 92px;
            width: 328px;
            height: 328px;
        }
        @media (max-width:#{$md3}px) {
            grid-column: 1 / 2;
            grid-row: 3;
            padding: 0 16px;
            display: flex;
            justify-content: center;
            img{
                position: static;
                flex: 0 1 328px;
                height: auto;
            }
        }
    }
    &__bg {
        grid-column: 1 / 3;
        grid-row: 1 / 4;
        z-index: 1;
        height: 100%;
        background-position: center;
        background-size: cover;
        border-radius: 24px;
        overflow: hidden;
        @media (max-width:#{$md3}px) {
            position: relative;
            &:after{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 4;
                background: linear-gradient(180deg, rgba(31, 2, 61, 0.8) 0%, rgba(31, 2, 61, 0) 100%);
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            }
        }
        
    }
}

/////////////////////////////////////////////////////////////

.games {
    display: flex;
    padding: 16px 0 80px 0;
    gap: 16px;
    flex-wrap: wrap;
    &__item {
        flex: 1;
        display: flex;
        align-items: center;
        gap: 16px;
        background-color: var(--color-light);
        border-radius: 12px;
        padding: 16px;
        &:hover{
            background-color: var(--color-light-hover);
        }
        img{
            flex: 0 0 48px;
            width: 48px;
            height: 48px;
            border-radius: 8px;
        }
        svg{
            opacity: 0;
        }
        span{
            flex: 1;
            font-weight: 700;
        }
        @media (max-width:#{$md2}px) {
            flex-basis: 45%;
        }
        @media (max-width:580px) {
            flex-direction: column;
            text-align: center;
        }
    }
}
///////////////////////////////////////////////////////////

.gameList {
    &__body{
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }
    &__item {
        flex: 1 1 230px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        min-width: 0;
        @media (max-width:#{$md3}px) {
            flex: 1 1 45%;
        }
        &:hover{
            img{
                transition: ease 0.15s;
                transform: scale(1.03);
            }
        }
    }
    &__image {
        width: 100%;
        display: block;
    }
    &__imageWrap {
        display: block;
        position: relative;
        width: 100%;
        padding-top: 100%;
        overflow: hidden;
        border-radius: 16px;
        img{
            transition: ease 0.15s;
        }
    }
    &__title {
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        max-width: 100%;
        text-overflow: ellipsis;
    }
}

///////////////////////////////////////////////////////////

.gameCategory {
    &__body{
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }
    &__item {
        flex: 1 1 230px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        min-width: 0;
        @media (max-width:#{$md3}px) {
            flex: 1 1 45%;
        }
        @media (min-width:#{$md3}px) {
            &:hover{
                img{
                    transition: ease 0.15s;
                    top: 48px;
                    left: 48px;
                    @media (max-width:#{$md3}px) {
                        top: 36px;
                        left: 36px;
                    }
                }
            }
        }
    }
    &__image {
        width: 100%;
        display: block;
        overflow: hidden;
        border-radius: 16px;
        &_1{
            background: linear-gradient(135deg, #32CA4E 0%, #A7FFB7 100%);
        }
        &_2{
            background: linear-gradient(135deg, #DD3100 0%, #FFB599 100%);
        }
        &_3{
            background: linear-gradient(135deg, #93BF00 0%, #DFFF73 100%);
        }
        &_4{
            background: linear-gradient(135deg, #12C5ED 0%, #A1EEFF 100%);
            img{
                transform: translateY(-60px);
                @media (max-width:#{$md3}px) {
                    transform: translateY(-35px);
                }
            }
        }
        &_5{
            background: linear-gradient(135deg, #BE6F24 0%, #FABE85 100%);
        }
        &_6{
            background: linear-gradient(135deg, #0D8F4F 0%, #7BEEB6 100%);
            img{transform: rotate(-200deg);}
        }
        &_7{
            background: linear-gradient(135deg, #D02828 0%, #FFBDBD 100%);
            img{transform: rotate(-35deg);}
        }
        &_8{
            background: linear-gradient(135deg, #9D26FF 0%, #E0ACFF 100%);
        }
    }
    &__imageWrap {
        display: block;
        position: relative;
        width: 100%;
        padding-top: 100%;
        img{
            transition: ease 0.15s;
            top: 64px;
            left: 64px;
            @media (max-width:600px) {
                top: 36px;
                left: 36px;
            }
        }
    }
    &__title {
        font-size: 30px;
        line-height: 120%;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        max-width: 100%;
        text-overflow: ellipsis;
        position: absolute;
        top: 32px;
        left: 32px;
        z-index: 10;
        @media (max-width:600px) {
            top: 16px;
            left: 16px;
            font-size: 20px;
        }
    }
}

///////////////////////////////////////////////////////////

.tabs{
    display: flex;
    gap: 16px;
    @media (max-width:840px) {
        flex-wrap: wrap;
    }
}

.tab{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 12px;
    border-radius: var(--border-radius);
    font-weight: bold;
    background-color: var(--color-light);
    use{
        fill: #5C5C68;
    }
    &:hover{
        background-color: var(--color-light-hover);
        use{
            fill: #fff;
        }
    }
    &__count{
        @media (max-width:#{$md4}px) {
            display: none;
        }
    }
    &.active{
        border: 2px solid rgba(255, 255, 255, 1);
        use{
            fill: #fff;
        }
    }
    @media (max-width:840px) {
        flex: 1 1 45%;
    }
}

///////////////////////////////////////////////////////////

.reviews {
    &__link{
        font-size: 20px;
        line-height: 120%;
        font-weight: 700;
        &:hover{
            text-decoration: underline;
        }
    }
    &__socials{
        margin: 0 -8px;
        > a{
            margin: 16px 8px 0 8px;
        }
    }
    &__card {
        background-color: var(--color-light);
        position: relative;
        padding: 32px;
        border-radius: 24px;
        position: relative;
        height: 100%;
        display: flex;
        gap: 32px;
        @media (max-width:#{$md4}px) {
            padding: 16px;
        }
        @media (max-width:#{$md3}px) {
            flex-direction: column;
            align-items: center;
            gap: 16px;
        }
    }
    &__name{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    &__image{
        flex: 0 0 190px;
        @media (max-width:#{$md3}px) {
            max-width: 340px;
            width: 100%;
        }
    }
    &__wrapperImg{
        position: relative;
        width: 100%;
        padding-top: 100%;
        img{
           border-radius: 12px;
        }
    }
}

///////////////////////////////////////////////////////////

.btnBonus{
    position: fixed;
    top: 100px;
    inset-inline-end: 40px;
    z-index: 33;
    display: none;
    background: var(--bg-btn-bonus);
    &:hover{
        background: var(--bg-btn-bonus-hover);
    }
    @media (max-width:1413px) {
        inset-inline-end: 16px;
    }
}

///////////////////////////////////////////////////////////

.fixedBottomBox{
    position: fixed;
    bottom: 0;
    inset-inline-start: 0;
    width: 100%;
    z-index: 30;
    display: none;
    border-top: 1px solid #ffffff05;
    &__body{
        position: relative;
        z-index: 5;
    }
    background-color: color-mix(in srgb, var(--bg-color) 90%, transparent);
    backdrop-filter: blur(64px);
    &:after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background-color: rgba(255, 255, 255, 0.05);
    }
}

.welcomeBonus {
    position: sticky;
    z-index: 32;
    &__boby {
        padding: 24px 16px;
        position: relative;
    }
    &__btn{
        position: absolute;
        inset-inline-end: 40px;
        top: calc(50% - 20px);
        z-index: 10;
        @media (max-width:1413px) {
            background-color: var(--bg-color);
            inset-inline-end: 16px;
            top: -20px;
            border: 1px solid transparent;
            border-top-color: var(--color-light);
            padding: 7px;
            &:hover{
                background-color: var(--bg-color);
                border: 1px solid rgba(255, 255, 255, 0.3);
            }
        }
    }
    @media (max-width:#{$md3}px) {
        .btn{
            padding: 12px;
        }
    }
}

.cookie{
    &__body{
        @media (max-width:#{$md3}px) {
            padding: 8px 16px;
        }
    }
    @media (max-width:#{$md3}px) {
        font-size: var(--fz-text-small);
	    line-height: var(--lh-text-small);
    }
    svg use {
        fill: var(--fill-icon-primary);
    }
}

///////////////////////////////////////////////////////////

.footer{
    border-top: 1px solid var(--color-light);
    &__body{
        padding: 16px;
    }
    &__partners{
	    display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 16px;
        max-height: 48px;
        overflow: hidden;
        > img {
            height: 16px;
        }
        @media (max-width:#{$md2}px) {
            justify-content: flex-start;
        }
    }
}

.boxInfo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    @media (max-width:#{$md3}px) {
        grid-template-columns: 1fr;
        .boxInfo__col:nth-child(1){
            grid-column: auto;
        }
        .boxInfo__col:nth-child(3){
           display: none;
        }
    }
    &__grid{
        display: grid;
        row-gap: 8px;
        column-gap: 32px;
        &_2col{
            grid-template-columns: auto 1fr;
        }
        p,a{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    &__label{
        margin-bottom: 16px;
        color: var(--color-gray);
        letter-spacing: 0.7px;
        text-transform: uppercase;
        font-size: 13px;
        line-height: 120%;
    }
}

.boxLinksApp{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    gap: 16px;
    @media (max-width:#{$md3}px) {
        display: flex;
        flex-direction: column-reverse;
        > * {
            flex: 1;
        }
    }
    &__subscribe{
        grid-column: span 2;
    }
    &__mobile{
        display: flex;
        flex-direction: column;
        gap: 16px;
        
        @media (max-width:#{$md3}px) {
            flex-direction: row;
        }
    }
    &__windows{
        @media (max-width:#{$md3}px) {
            display: none;
        }
    }
    .linkApp > svg use {
        fill: var(--fill-icon-primary);
    }
}

.linkApp{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--color-light);
    border-radius: 12px;
    padding-block: 16px;
    padding-inline: 16px 8px;
    &:hover{
        background-color: var(--color-light-hover);
    }
    &_windows{
        height: 100%;
        .linkApp__mod{
            height: 100%;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            .ml-8{
                margin-inline-start: 0;
            }
        }
    }
}

.subscribe{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 16px;
    border-radius: 12px;
    background-color: var(--color-light);
    height: 100%;
    &__input{
        display: flex;
        gap: 16px;
        input{
            flex: 1 1 150px;
            width: 150px;
            border-radius: var(--border-radius);
            border: 1px solid var(--color-light);
            padding: 16px;
        }
    }
}

.lastLine{
    &__ad{
        border-radius: 4px;
        padding: 1px 4px;
        border: 1px solid var(--color-gray);
        display: inline-block;
        transform: translateY(-2px);
        font-size: 11px;
        line-height: 13px;
        user-select: none;
    }
}